getSignLog/log/sign.log*
getSignLog/image/text2pic*
**/__pycache__/

bh3/modules/data/uid.sqlite
bh3/honkai_mys
bh3/assets/AvatarCardFigures/*
bh3/assets/AvatarCardIcons/*
bh3/assets/AvatarIcon/*
bh3/assets/QuestBossIcon/*
bh3/assets/StigmataIcons/*
bh3/assets/WeaponIcons/*
bh3/assets/ElfCardIcons/*
bh3/assets/Avatar/*
bh3/sign_bh3/sign_on.json
bh3/guess_voice/record.json
bh3/assets/record
bh3/guess_voice/answer.json
resendRecallMsgByqid/recall.json
bh3/rank_bh3/image/*.png
test/*
bh3/rank_bh3/rank.json
openai/*
traditional2simplified/map.json
revchatgpt/*
bh3/group_bh3/group.json
